/* Кольори */
/* Шрифти */
@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Light;
  src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto-Bold.ttf);
}
body {
  background-color: #fff;
  color: #111;
}
.ready {
  padding: 20px;
  font-size: 15px;
}
