/* Кольори */
@bg: white;

@lightgray: #EFEBEA;
@gray: #C4C6C9;
@darkgray: #A1A4A9;
@dark: #3C3C3C;
@blue: #4A90E2;

@lightpurple: #D9B9FF;
@lightblue: #DBE3FA;
@lightred: #E7ADAD;
@lightyellow: #E7E7AD;
@lightgreen: #D3E1AE;
