@import "config";

*,
*::before,
*::after {
	box-sizing: border-box;
}

[class*="entypo"]:before {
	font-family: 'EntypoRegular', sans-serif;
	font-size: 16px;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	color: black;
	text-align: left;
	background-color: @bg;
}

a {
	color: black;
	text-decoration: none;
	&:hover {
		color: red;
	}
}

p {
	font-size: 14px;
}

textarea:focus, input:focus{
    outline: none;
}

.input {
	font-size: 16px;
	letter-spacing: 1.2px;
	border: none;
	border-radius: 10px;
	padding: 10px 15px;
	color: @dark;
	background-color: @lightgray; 
}

.input.search {
	width: 100%;
	min-height: 50px;
	text-align: center;
	border-radius: 0;
}

.header {
	position:relative;
	padding: 10px 0;
	margin: 20px 0;
	font-size: 18px;
	border-bottom: 1px solid @lightgray;
}

app-nav {
	background-color: @dark;
	color: white;
	min-height: 75px;

	a, span {
		color: white;
		letter-spacing: 1.5px;
	}
}

app-slider {
	.carousel, .carousel-inner {
		max-height: 250px;
	}
}

app-footer {
	color: white;
	letter-spacing: 1.5px;

	footer {
		min-height: 75px;
		background-color: @dark;
		padding: 20px 0;
	}	
}

release {
	.cover-container {
		position: relative;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 150px;
		height: 225px;
		padding: 5px 2px;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			bottom: 0;
			left: 0;
			background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, #000000 100%);
		}
	}

	.mark {
		border-radius: 3px;
		background-color: @lightgray; 
		color: @darkgray;
		font-weight: 700;
		font-size: 12px;
    	padding: 3px;
    	margin: 0 3px;
    	width: auto;
	}

	.title {
		font-size: 14px;
		letter-spacing: 1px;
		margin-top: 5px;
		margin-bottom: 20px;
		width: 150px;
		word-wrap: break-word;
	}
}